/* @media screen and (max-width: 980px ) {
  .box-pro{
    top: 1700px !important;
  }
} */
.card-project{
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  transition: 0.5s;
      background: rgba(255, 255, 255, .65);
      background-clip: border-box;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(15px);
  border: 1px solid rgba(41, 41, 41);
}
.box-pro{
  top: 50px;
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
