
.m-hero-projects {
    padding: 4.5rem;    
    margin: 0;
    height: 100vh;
    background: 
        url(../../assets/img/Oddame.jpg)
    center no-repeat fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}
.swiper {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
  }
  
  .swiper-slide {
    background-position:center ;
    background-size: cover;
  }
  
  .card-projects {
    height: auto;
    border-radius: 1rem;
    transition: 1s;
        background: rgba(255, 255, 255, .65);
        background-clip: border-box;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(15px);
}