section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a9d6bc;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh -280px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow:  0 15px 35px rgba(255, 255, 255, 0.05);
}