
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-500 {
    transition-duration: .5s;
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.bg-emeraldGreen {
    --tw-bg-opacity: 1;
    background-color: rgb(23 115 105/var(--tw-bg-opacity));
}
.w-full {
    width: 100%;
}
.h-3 {
    height: 0.75rem;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}