.bg-emeraldGreen {
    --tw-bg-opacity: 1;
    background-color: rgb(23 115 105/var(--tw-bg-opacity));
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}