.m-hero-project{
    background-image: url(../../assets//img/banner1.jpg);
    height: 100vh;
    background-size: cover;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-500 {
    transition-duration: .5s;
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.bg-emeraldGreen {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 0.3/var(--tw-bg-opacity));
}
.w-full {
    width: 100%;
}
.h-3 {
    height: 0.75rem;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.m-hero-banner {
    background-color: rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(2px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 0 auto;
}