.section-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: 7FCD91;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}