.container-fluid {
    background-color: #eeeeee;
}
.m {
    width: 500px;
    height: 600px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 0px #bababa,
            inset -5px -5px 0px #ffffff;    
}