.container-fluid {
    background-color: #C2C9D0;
}
.m {
    background: rgba(255, 255, 255, 0,25);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0,3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0,18);
}