.section-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/img/banner1.png);
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
}
.container-m-me {
    position: relative; 
    width: 100%;
    height: 90vh;
    background: rgba(255, 255, 255, 0,25);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0,3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0,18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

/* .content-me {
    transform: translateX(350px);
    max-width: 700px;
    box-shadow:  0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
    transition: 0.5s;
    cursor: pointer;
} */
/* .content-me:hover{
    transform: translateX(650px);
    max-width: 400px;
} */
.content-me h2 {
    font-family: Osiris;
    font-size: 4rem;
    line-height: 1.85;
    text-transform: lowercase;
    margin: 0;
    color: #141914;
}
.content p {
    text-align: end;
    border: var(--default-border-width) solid var(--default-border-color);
    border-radius: var(--default-border-radius);
    text-transform: uppercase;
    font-weight: 400;
    font-size: max(12px,.9375vw);
    line-height: 1.2222222222;
    transition: background-color .15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1.2em;
    color: #140f10;
}
.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #140f10;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
}