section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/img/banner.png);
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}