* {
    margin:  0;
    padding:  0;
}
.m-hero-banner {
    width: 100%;
    height: 50%;
    border-radius: 17px;
    background: #e0e0e0;
    box-shadow:  -50px 50px 100px #bebebe,
             50px -50px 100px #ffffff;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
section .row-name{
    position: relative;
    top: 0%;
    left: -40%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 40px;
    transform: rotate(-90deg);
}
@media only screen and (max-width: 1220px) {
    section .row-name {
        left: -35%;
    }
  }
  @media only screen and (max-width: 425px) {
    section .row-name {
        left: -33%;
        transform: rotate(-0deg);
    }
  }
  @media only screen and (max-width: 320px) {
    section .row-name {
        left: -30%;
        transform: rotate( -0deg);
    }
  }
section .row-name div {
    animation: animate1 50s linear infinite;
    animation-delay: -10s;
}
section .row-name div:nth-child(2){
    animation: animate2 60s linear infinite;
    animation-delay: -20s;
}
@keyframes animate1 {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-100%);
    }
}
@keyframes animate2 {
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-200%);
    }
}

h1 span {
    color:#EEF1FF;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #F5EAEA;
}

h1 {
    cursor:none;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-size: 144px;
    font-family: AntarcticaVAR-Regular; 
    font-weight: 790;
    font-style: inherit;
    line-height: 0.9em;
    letter-spacing: -10px;   
}
@media screen and (max-width: 1440px){
    h1 {
        font-size: 144px;
        letter-spacing: -05px;   
    }
}
@media screen and (max-width: 768px){
    h1 {
        font-size: 100px;
    }
}
@media screen and (max-width: 425px){
    h1 {
        font-size: 70px;
    }
}
@media screen and (max-width: 320px){
    h1 {
        font-size: 60px;
    }
}

.m-hero-menu{
    position: absolute;
    top: 10%;
    left: 59%;
}
@media screen and (max-width: 1440px) {
   .m-hero-menu {
    left: 60%;
   }
}
@media screen and (max-width: 1024px) {
    .m-hero-menu {
        top: 52%;
        left: 48%;
    }
 }
@media screen and (max-width: 768px ) {
    .m-hero-menu {
     top: 50%;
     left: 38%;
    }
 }
 @media screen and (max-width: 425px ) {
    .m-hero-menu {
     top: 58%;
     left: 15%;
    }
 }
 @media screen and (max-width: 375px ) {
    .m-hero-menu {
     top: 55%;
     left: 5%;
    }
 }
 @media screen and (max-width: 320px ) {
    .m-hero-menu {
     top: 55%;
     left: 5%;
    }
 }
h2 span {
    color:#EEF1FF;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #F5EAEA;
}
h2 span:hover {
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 5px #EEF1FF;
}
h2 {
    cursor:none;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-size: 120px;
    font-family: AntarcticaVAR-Regular;
    font-weight: 800;
    font-style: inherit;
    line-height: 0.8em;
    letter-spacing: -2px;
    transition: 0.1 s;
}
h2:hover {
    font-size: 104px;
    padding-bottom: 20px;
    font-family: Syne;
    font-weight: 800;
    font-style: inherit;
    letter-spacing: -5px;
}
@media screen and (max-width: 1440px) {
    h2{
        font-size: 110px;
    }
}
@media screen and (max-width: 1024px) {
    h2{
        font-size: 100px;
    }
}
@media screen and (max-width: 768px) {
    h2{
        font-size: 90px;
    }
    h2:hover{
        font-size: 90px;
    }
}
@media screen and (max-width: 425px) {
    h2{
        font-size: 70px;
    }
    h2:hover{
        font-size: 70px;
    }
}
@media screen and (max-width: 375px) {
    h2{
        font-size: 60px;
    }
    h2:hover{
        font-size: 60px;
    }
}
@media screen and (max-width: 320px) {
    h2{
        font-size: 60px;
    }
    h2:hover{
        font-size: 60px;
    }
}

.m-hero{
    position: absolute;
    top: 12%;
    left: 30%;
}
.m-hero:hover{
    position: absolute;
    top: 9%;
    left: 30%;
}
.m-hero-img {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    width: 100%;

    backdrop-filter: blur(20px);
    border: 1px;
    border-radius: 10px;
}
.m-hero-img img {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.card{
    display: flex;
    left: 30%;
    position: relative;
    width: 400px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card:hover{
    height: 420px;
}
@media screen and (max-width: 320px) {
 .card {
    top: 20%;
    width: 170px;
    height: 80px;
 }
 .card:hover {
    height: 200px ;
 }
}
@media screen and (max-width: 768px) {
    .card {
       top: 20%;
       width: 300px;
       height: 150px;
    }
    .card:hover {
       height: 360px ;
    }
   }

.m-img{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 180px;
    height: 180px;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rbga(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .m-img{
    width: 200px;
    height: 200px;
}
@media screen and (max-width: 320px) {
    .m-img {
        width: 100px;
        height: 100px;
    }
    .card:hover .m-img {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 425px) {
    .m-img {
        width: 100px;
        height: 100px;
    }
    .card:hover .m-img {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 768px) {
    .m-img {
        width: 150px;
        height: 150px;
    }
    .card:hover .m-img {
        width: 170px;
        height: 170px;
    }
}

.m-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content-me{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content-me .details {
    padding: 17px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateX(400px);
}
.card:hover .content-me .details{
    transform: translateX(0px);
}
.card .content-me .details h3 {
    font-family: AntarcticaVAR-Regular;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-weight: 900;
    font-style: inherit;
    line-height: 1em;
}
.card .content-me .details h3 .m-hero-title {
    font-family: AntarcticaVAR-Regular;
    color: #181818;
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.7;
}
.card .content-me .details .m-skills{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 20px;
}
.card .content-me .details .m-skills h4{
    text-align: start;
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content-me .details .m-skills h4 span{
    font-size: 1em;
    opacity: 0.5;
}
.card .content-me .details .actionBtn{
    display: flex;
    justify-content: center;
    gap: 20px   ;
}
.card .content-me .details .actionBtn button{
    font-family: AntarcticaVAR-Regular;
    font-size: 1.3em;
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    font-weight: 500;
    background-color: #181818;
    color: #EEF1FF;
}
@media screen and (max-width: 320px) {
    .card .content-me .details h3 {
        font-size: 1em;
    }
    .card .content-me .details .m-skills{
        justify-content: start;
        margin: 0px;
    }
    .card .content-me .details .m-skills h4 {
        font-size: 6px
    }
}
@media screen and (max-width: 425px) {
    .card .content-me .details h3 {
        font-size: 1em;
    }
    .card .content-me .details .m-skills{
        justify-content: start;
        margin: 0px;
    }
    .card .content-me .details .m-skills h4 {
        font-size: 6px
    }
}
@media screen and (max-width: 768px) {
    .card .content-me .details h3 {
      font-size: 30px;
    }
    .card .content-me .details .m-skills{
        justify-content: center;
        margin: 0px;
    }
    .card .content-me .details .m-skills h4 {
        font-size: 14px
    }
}





