* {
    margin:  0;
    padding:  0;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* section .row{
    position: relative;
    top: -150%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 30px;
    transform: rotate(-30deg);
}
ion-icon {
     color: rgb(238, 241, 255, 0.5);
     transition: 1s;
     padding: 0 5px;
     user-select: none;
     cursor: default;
}
ion-icon:hover{
    transition: 0s;
    color: #7FCD91;
    text-shadow:  0 0 120px #5B5656;
}
section .row div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}
section .row div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate1 {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-100%);
    }
}
@keyframes animate2 {
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-200%);
    }
}


section .row:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}
section .row:nth-child(even) div:nth-child(2){
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate3 {
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(-100%);
    }
}
@keyframes animate4 {
    0%{
        transform: translate(-200%);
    }
    100%{
        transform: translate(0%);
    }
} */

section .row-name{
    position: relative;
    top: 0%;
    left: -40%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 40px;
    transform: rotate(-90deg);
}
section .row-name div {
    animation: animate1 35s linear infinite;
    animation-delay: -80s;
}
section .row-name div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate1 {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-100%);
    }
}
@keyframes animate2 {
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-200%);
    }
}

h1 span {
    color:#EEF1FF;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #5B5656;
}

h1 {
    cursor:none;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-size: 144px;
    font-family: AntarcticaVAR-Regular;
    font-weight: 800;
    font-style: inherit;
    line-height: 0.8em;
    letter-spacing: -2px;   
}
.m-hero-menu{
    position: absolute;
    top: 10%;
    left: 59%;
}
h2 span {
    color:#EEF1FF;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #F5EAEA;
}
h2 span:hover {
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 5px #EEF1FF;
}
h2 {
    cursor:none;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-size: 120px;
    font-family: AntarcticaVAR-Regular;
    font-weight: 800;
    font-style: inherit;
    line-height: 0.8em;
    letter-spacing: -2px;
    transition: 0.1 s;
}
h2:hover {
    font-size: 104px;
    padding-bottom: 20px;
    font-family: Syne;
    font-weight: 800;
    font-style: inherit;
    letter-spacing: -5px;
}
.m-hero{
    position: absolute;
    top: 12%;
    left: 30%;
}
.m-hero:hover{
    position: absolute;
    top: 9%;
    left: 30%;
}
.m-hero-img {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    width: 100%;

    backdrop-filter: blur(20px);
    border: 1px;
    border-radius: 10px;
}
.m-hero-img img {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.card{
    display: flex;
    left: 30%;
    position: relative;
    width: 300px;
    height: 130px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.m-img{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rbga(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .m-img{
    width: 200px;
    height: 200px;
}
.m-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content-me{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content-me .details {
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateX(400px);
}
.card:hover .content-me .details{
    transform: translateX(0px);
}
.card .content-me .details h3 {
    font-family: AntarcticaVAR-Regular;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-weight: 900;
    font-style: inherit;
    line-height: 1em;
}
.card .content-me .details h3 .m-hero-title {
    font-family: AntarcticaVAR-Regular;
    color: #181818;
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.7;
}
.card .content-me .details .m-skills{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 20px;
}
.card .content-me .details .m-skills h4{
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content-me .details .m-skills h4 span{
    font-size: 0.85em;
}



