@media screen and (max-width: 750px) {
  .m-me-img{
    width: calc(70% - 20px) !important;
  }
}
.m-me-i{
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  font-family: Apercu,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.m-me-a{
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 900;
  line-height: 30px;
  font-family: Apercu,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.m-me-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  width: calc(30% - 40px);
}

.me-img{
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: url(../../assets//img/me1.jpg);
  background-size: contain;
  background-position: 50% 50%;
  border: 5px solid rgba(255, 255,255, 0,5);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}