.tittle-skills{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    padding: 10px;
}
.tittle-skills-p {
    border-bottom: 1px solid rgba(41, 41, 41, 10);      
}
.m-img{
    width: 45px;
    height: 45px;
}
.m-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.box-main {
    height: 100vh;
}
span {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    opacity: 0.8;
}