.tittle-skills{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    padding: 10px
    border-bottom: 1px solid rgba(41, 41, 41, 10);   
}
.box-main {
    height: 100vh;
}