.tittle-skills{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    padding: 10px;
}
.tittle-skills-p {
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);      
}
.box-main {
    height: 100vh;
}