footer {
    background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0, #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(41, 41, 41, 10);   
}
.box-copy{
    height: 60px;
}
.box-copy-text{
    background-color:#FFF;
}

h5 {
    padding: 0;
}
h6 a {
    color: #1f1f1f;
    padding: 0 20px 0 0;
    transition: 0.5s;
}  
h6 a:hover {
     color:  #1f1f1f;
}  
h6 {
    margin-top: 7px;
} 
.text-footer{
    font-size: 70px;
}
.footer-img{
    padding: 0 10px 0 10px;
}
.copy{
    padding: 12px 1px 1px 1px;
}
