.card-job {
    width: 18rem;
    background-color:whitesmoke;
    transition: 0.5s;
}
.card-job:hover {
    border: 1px solid #EEF1FF;
    border-radius: 5px;
    width: 20rem;
    height: 200px;
    background-color:whitesmoke;
}