.card-job {
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.5s;
        background: rgba(255, 255, 255, .65);
        background-clip: border-box;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(15px);
    border: 1px solid rgba(41, 41, 41);
}
.card-job:hover {
  transform: translateY(-5px);
}
.text-job {
  color: #1f1f1f;
}
.m-hero-job{
  height: 100vh;
}
  .box-job{
    text-align: center;
  }
  .name-company {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color:  #1f1f1f;
    transition: 1s;
  }
  .name-company:hover {
    transform: rotate(-5deg);
    transition: 1s;
  }
.btn-job {  
    width: 110px;
    height: 25px;
    border-radius: 2px;
    background-color: #1f1f1f;
    border: 0;
    transition: 0.5s;
}
.btn-job:hover {
  transform: translateY(-10px);
}
.btn-job a{
  padding: 0 10px 0 5px;
  color: #fff;
  font-size: 14px;
}