
.card-job {
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    transition: 1s;
        background: rgba(255, 255, 255, .65);
        background-clip: border-box;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(15px);
}
.card-job:hover {
  transform: translateY(-50px);
}
.box-job {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  .box-job img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  5px 5px 100px #e0e0e0,
                 -5px -5px 100px #ffffff;
    transition: 0.5s;
  }
  .box-job img:hover {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background: transparent;
  }
  .name-company {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color:  #1f1f1f;
    transition: 1s;
  }
  .name-company:hover {
    transform: rotate(-5deg);
    transition: 1s;
  }