
.card-job {
  cursor: pointer;
    height: auto;
    padding: 1rem;
    border: 1px solid rgba(41, 41, 41, 1);
    transition: 0.5s;
}
.card-job:hover {
  transform: translateY(-50px);
}
.text-job {
  color:#1f1f1f;
}
.m-hero-job{
  height: 100vh;
}
  .box-job{
    background-color:#1f1f1f;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 40%;
    background: transparent;
    transition: 0.5s;
  }
  .box-job:hover {
    color: #fff;
    background-color: #1f1f1f;
  }
  .name-company {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color:  #1f1f1f;
    transition: 1s;
  }
  .name-company:hover {
    transform: rotate(-5deg);
    transition: 1s;
  }