.m-hero-job {
    width: 100%;
    height: 100%;
}
m-hero-job-row {
    width: 100%;
    height: 100%;
}
.card-job {
    width: 18rem;
    background-color:whitesmoke;
    transition: 0.5s;
}
.card-job:hover {
    width: 18rem;
    height: 18rem;
    transition: 0.5s;
    background-color: #eee;
}
.c-hero-job {
    width: 100%;
    height: 400px;
}