

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Main_line__vX9br {
    flex: 1 1;
    height: 6px;
    width: 100%;
    background-color: #fff;
    margin-left: 26px;
    margin-right: 26px;
}
.col h3 {
    color: #EEF1FF;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-size: 120px;
    font-style: inherit;
    line-height: 1;
    letter-spacing: -2px;
    transition: 0.1 s;
    font-weight: 600;
    letter-spacing: -.08em;
    text-transform: uppercase;
}
.m-hero-runa-box {
    position: relative;
    top: 20px;
    left: 55%;
    width: 600px;
    height: 500px;
    transition: 0.5s;
}
.m-hero-runa-box:hover {
    position: relative;
    top: 20px;
    left: -45%;
    width: 600px;
    height: 500px;
    background-color: #EEF1FF;
    margin-bottom: 40px;

}
.bubbles {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;

}
.bubbles img {
    position: relative;
    margin: 0 10 0 100px;
    border-radius: 1px;
    box-shadow: 0 0 0 10px transparent,
    0 0 10px transparent
    0 0 10px transparent;
    animation: animate 15s linear infinite;
}


@keyframes animate {

    0%{
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(10vh) scale(1);
    }
    
}

.m-hero-runa-box .one-lattera{
    border-radius: 0.5em;
    position: absolute;
    top: 40px;
    width: 20px;
    height: 400px;
    background-color: #EEF1FF;
}
.m-hero-runa-box .tow-lattera{
    border-radius: 0.5em;
    position: absolute;
    top: 16%;
    left: 15%;
    width: 20px;
    height: 200px;
    background-color: #EEF1FF;
    transform: rotate(-60deg);
}
.m-hero-runa-box .tree-lattera{
    border-radius: 0.5em;
    position: absolute;
    top: 35%;
    left: 15%;
    width: 20px;
    height: 200px;
    background-color: #EEF1FF;
    transform: rotate(60deg);
}
.tittle-history {
    text-align: start;
    cursor: default;
    font-weight: bold;
    font-size: 140px;
}
.card{
    display: flex;
    left: 0%;
    position: relative;
    width: 400px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.m-img-Runa{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rbga(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .m-img-Runa{
    width: 200px;
    height: 200px;
}
.m-img-Runa img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content-me-history{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content-me-history .details- {
    padding: 17px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateX(400px);
}
.card:hover .content-me-history .details{
    transform: translateX(0px);
}
.card .content-me-history .details h3 {
    font-family: AntarcticaVAR-Regular;
    font-variation-settings: "wdth" 136,"wght" 500,"CNTR" 0;    
    font-weight: 900;
    font-style: inherit;
    line-height: 1em;
}
.card .content-me .details h3 .m-hero-title {
    font-family: AntarcticaVAR-Regular;
    color: #181818;
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.7;
}
.card .content-me .details .m-skills{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 20px;
}
.card .content-me .details .m-skills h4{
    text-align: start;
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content-me .details .m-skills h4 span{
    font-size: 1em;
    opacity: 0.5;
}
.card .content-me .details .actionBtn{
    display: flex;
    justify-content: center;
    gap: 20px   ;
}
.card .content-me .details .actionBtn button{
    font-family: AntarcticaVAR-Regular;
    font-size: 1.3em;
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    font-weight: 500;
    background-color: #181818;
    color: #EEF1FF;
}



