*{
    font-family: AtypDisplay,sans-serif
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Main_line__vX9br {
    flex: 1 1;
    height: 6px;
    width: 100%;
    background-color: #fff;
    margin-left: 26px;
    margin-right: 26px;
}